body {
  background-color: white;
}
.heading {
  color: black;
  font-size: x-large;
  font-weight: bolder;
  font-style: bold;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 560px;
  height: 560px;
  /* border: solid black; */
}

.grid div {
  width: 20px;
  height: 20px;
}

.pac-dot {
  background-image: linear-gradient(
    to right top,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
  border: 2px solid white;
  box-sizing: border-box;
}

.wall {
  background-image: linear-gradient(
    to left bottom,
    #ffffff,
    #d5cfd9,
    #b39faf,
    #957080,
    #76444f,
    #6a3437,
    #5a261e,
    #481a01,
    #472300,
    #432c00,
    #3e3400,
    #363c00
  );
}
.power-pellet {
  background-image: linear-gradient(
    to right top,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
  border-radius: 50%;
}

.blinky {
  background-color: red;
}

.pinky {
  background-color: pink;
}

.inky {
  background-color: cyan;
}

.clyde {
  background-color: orange;
}

.pac-man {
  background: yellow;

  border-radius: 10px;
}

.scared-ghost {
  background-color: #845ec2;
  border-radius: 50%;
}
.score {
  /* background-image: linear-gradient(
    to right top,
    #040608,
    #0f0f1c,
    #221125,
    #390d21,
    #490f0f
  ); */
  color: black;
  font-size: x-large;
  font-weight: bolder;
  font-style: italic;

  /* border: none;
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
  align-items: center;
  justify-content: center; */
}
.score_manage {
  align-items: center;
  justify-content: center;
  margin-left: 100px;

  display: flexbox;
}
