body {
  background-image: linear-gradient(
    to right top,
    #ececec,
    #e4e9ef,
    #d6e9eb,
    #d0e7dd,
    #dae2c9
  );
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 560px;
  height: 560px;
}

.grid div {
  width: 20px;
  height: 20px;
}

.pac-dot {
  background-image: linear-gradient(
    to right top,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
  border: 5px solid white;
  box-sizing: border-box;
}

.wall {
  background-image: linear-gradient(
    to left bottom,
    #ffffff,
    #d5cfd9,
    #b39faf,
    #957080,
    #76444f,
    #6a3437,
    #5a261e,
    #481a01,
    #472300,
    #432c00,
    #3e3400,
    #363c00
  );
}
.power-pellet {
  background-image: linear-gradient(
    to left bottom,
    #bb7b7b,
    #cb9aa7,
    #d7bccc,
    #e6dee9,
    #fefefe
  );
  border-radius: 50%;
}

.blinky {
  background-color: red;
}

.pinky {
  background-color: pink;
}

.inky {
  background-color: cyan;
}

.clyde {
  background-color: orange;
}

.pac-man {
  background: yellow;

  border-radius: 10px;
}

.scared-ghost {
  /* background-color: aquamarine; */
  background-image: linear-gradient(
    to bottom,
    #2a3201,
    #73573c,
    #aa8785,
    #d1c2ca,
    #ffffff
  );
}
.score {
  color: black;
  font-size: x-large;
  border: none;
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
  align-items: center;
  justify-content: center;
}
.score_manage {
  align-items: center;
  justify-content: center;
  margin-left: 100px;

  display: flexbox;
}
